<div class="row">
    <div class="col-12">
        <div class="btn-group me-0" role="group" aria-label="...">
            <a href="/account" class="btn btn-default "><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
            <a class='btn btn-default' href='/myAddressGet'><i class="fas fa-map-marker-alt" aria-hidden="true"></i>My
                Address</a>
            <a class='btn btn-default' href='/addAddress'><i class="fas fa-map-marker-alt" aria-hidden="true"></i>Add
                Address</a>
            <a class='btn btn-default' href='/allOrders'><i class="fa fa-list" aria-hidden="true"></i>All
                Orders</a>
            <a class='btn btn-default' href='/wishlist'><i class="fa fa-heart" aria-hidden="true"></i>
                Wishlist</a>
            <a class='btn btn-default' href='/Wallet'><i class="fas fa-wallet" aria-hidden="true"></i>
                Wallet</a>

        </div>
    </div>
</div>