<%- include('../adminPartials/header') %>

    <body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                  
                </tr>
            </thead>
            <tbody>

            <%    for(let i=0;i<topCategories.length;i++){ %>
                    <tr>
                    <th scope="row">
                        <%=i+1%>
                    </th>
                    <td>
                        <%=topCategories[i]._id%>
                    </td>
                    <td>
                        <%=topCategories[i].quantity%>
                    </td>
                 
                    
                    </tr>
                 <%   } %>




            </tbody>
        </table>
    </body>

    </html>